.top_container{
    display:none !important;
}

.bbnx-footer .content .social{
    display:none !important;
}

#content-body{
    background-color: #f3fdf5 !important;
}

.bbnx-main{
    background-color: #f3fdf5 !important; 
}

.guten-element{
    margin-left: initial !important;
    margin-right: initial !important;
    background-color: #008996 !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    background-size: contain !important;
    border-radius: 5px !important;
    box-sizing: border-box;
    transition: background 0.3s ease 0s, border 0.3s ease 0s, border-radius 0.3s ease 0s, box-shadow 0.3s ease 0s;
}

.calcula{
    text-align: center;
    width: 100%;
    font-style: italic;
    color: white;
}

.gutten-background-overlay{
    height: 100% !important;
    width: 100% !important;
    top: 0px !important;
    left: 0px  !important;
    position: absolute !important;
    border-radius: inherit !important;
}

.content {
    background-color: white !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.27) !important;
}

.content .content-title{
    padding-top: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
}

.bbnx-footer{
    margin-top: 0px !important;
    margin: 0 0 0 0 !important;
}

.content-wrapper picture{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.27); 
}

#cabezote-personalizado{
    background-color: #008996;
}

#header-sub{
    display: flex;
    align-items: center;
    min-width: 0;
}

.btn{
    background-color: teal !important;
    color: #fff !important;
    transition: all .7s !important;
    font-weight: bold !important;
  }

.btn:hover{
    color: teal !important;
    background-color: #fff !important;
    border-color: teal !important;
  }  

 .section-opening {
    display: none !important;
  }

  .topic_nav {
    display: none !important;
  }